[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pysqlite3 = "*"
pip3 = "*"
install = "*"
pysqlite3-binary = "*"
graphene-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
